.dashboard {
    flex: 1;
    height: calc(100vh - 800px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
}

.dashboardWrapper {
    padding: 20px;
    color: #555;
}

.dashboardMenu {
    margin-bottom: 10px;
}

.dashboardTitle {
    font-size: 13px;
    color: rgb(187, 186, 186);
}

.dashboardList {
    list-style: none;
    padding: 5px;
}

.dashboardListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.dashboardListItem.active, 
.dashboardListItem:hover {
    background-color: rgb(240, 240, 255);
}

.dashboardIcon {
    margin-right: 5px;
    font-size: 20px !important;
}